@import 'settings';
@import 'mixins';

body {
  background: gray;
  color: black;
  margin: 0px;
  padding: 20px;
  background: #ccd2cc;
  background: -moz-radial-gradient(center, ellipse cover, #ccd2cc 0%, #454945 100%, #596a72 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #ccd2cc 0%, #454945 100%, #596a72 100%);
  background: radial-gradient(ellipse at center, #ccd2cc 0%, #454945 100%, #596a72 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccd2cc', endColorstr='#596a72',GradientType=1 );
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: sans-serif;

  h1 {
    padding: 0 10px;
    color: #CCC;
    font-size: 20px;
    text-shadow: 1px 1px #000000;
  }
}

#content {
  max-width: 1000px;
  margin: 0 auto;
}

.float {
  position: relative;
  float:left;
  width: 50%;
  height: auto;
  padding: 0 10px 10px 10px;
  box-sizing: border-box;

  > div {
    width: 100%;
    box-sizing: border-box;
  }

  @include respond-to(small) {
    float: none;
    width: 100%;
  }
}
#displayContainer {
  box-shadow: 0 0 15px rgba(0,0,0,.5);
  overflow: hidden;
}

#settings {
  box-sizing: border-box;
  background: black;

  box-shadow: 0 0 15px rgba(0,0,0,.5);
  .dg.main {
    position: relative;
    box-sizing: border-box;
    width: 100% !important;
    select {
      width: 100% !important;
      background: #3c3c3c;
      color: white;
      border: none;
      padding: 3px 0;
    }
    li.title {
      font-weight:bold !important;
    }
    .close-button {
      position: relative;
      width: 100% !important;
    }
    .c input[type=text] {
      padding: 3px 0px !important;
    }

  }
}

#upload {
  margin-top: 20px;
  background: black;
  color: white;
  box-shadow: 0 0 15px rgba(0,0,0,.5);
  padding: 10px;

  #fileselect {
    display: none;
  }

  #fileselectlabel {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
  }

  #filedrag  {
    display: none;
    font-weight: bold;
    text-align: center;
    padding: 1em 0;
    margin: 1em 0;
    color: #CCC;
    border: 2px dashed #CCC;
    border-radius: 7px;
    cursor: default;
  }

  #filedrag.hover  {
    color: #f00;
    border-color: #f00;
    border-style: solid;
    box-shadow: inset 0 3px 4px #888;
  }

  #messages {
    padding-left: 10px;
  }

}